.footer {
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  display: flex;
  height: 100px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}
